$brand :#000;
// $brand :#e1ff00 ;
$brand-light :#FFFFEA;
$gray :#f2f2f2;
$fontblack :#333333;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

body {
    line-height: 100%;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin: 0px;

    background: url("../bg.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-size: 16px;

}

.chat-container {
    margin: auto;
    width: 50%;
    // border: 1px solid #efefef;
}

.input-area {
    position: absolute;
    bottom: 10px;
    background: #00000017;
    padding: 32px;
    border-radius: 8px;
    /* width: 100%; */
    // left: 20%;
    // right: 20%;    
    width: 50%;
}

h1.intro {
    font-size: 18px;
    color: #fff;
    line-height: 2rem;
}

input#user-input {
    padding: 16px 16px 16px 16px;
    border-radius: 6px;
    border: none;
}

.message.user-msg {
    font-size: 1rem;
    justify-content: flex-end;
    display: flex;
    color: #fff;
    background: #131313;
    padding: 8px 24px 8px 8px;
    border-radius: 16px 16px 4px 16px;
    margin-bottom: 16px;
    /* flex-grow: 1; */
    align-self: self-end;
  /* Add animation property */
  animation: slideOut 0.1s forwards; /* 0.5s duration, stays at end state */
 
}

/* Define the animation */
@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final position, on screen */
  }
}

div#chat-box {
    display: flex;
    flex-direction: column;
}

.message.bot-msg {
    font-size: 1rem;
    justify-content: flex-start;
    display: flex;
    color: #fff;
    background: #ffffff17;
    padding: 8px 24px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 16px;
    align-self: self-start;
    /* Add animation property */
    animation: slideIn 0.1s forwards;
    /* 0.5s duration, stays at end state */

}

/* Define the animation */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Final position, on screen */
    }
}