$brand :#000;
// $brand :#e1ff00 ;
$brand-light :#FFFFEA;
$gray :#f2f2f2;
$fontblack :#333333;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: "Lato", sans-serif;
    height: 100%;
}

body {
    line-height: 100%;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin: 0px;
    background: url("../bg.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;

}





/* Messages Area */
.chat-box {
 
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-container {
    width:1100px;
    display: flex;
    border-radius: 10px;
 
    flex-direction: column;
    overflow: hidden;
 
}
.chat-box::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

.chat-box::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, .0901960784);/* Color of the scrollbar track */
  border-radius: 5px;
}

.chat-box::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, .0901960784);/* Color of the scrollbar track */
  border-radius: 5px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}


h1.intro {
    font-size: 18px;
    color: #fff;
    line-height: 2rem;
}

input#user-input {
    padding: 16px 16px 16px 16px;
    border-radius: 6px;
    border: none;
        width: 100%;
 
}
input#user-input::placeholder{
 
     color: #666;
}
input#user-input:focus-visible {
    outline:none!important;
     background:  rgba(255, 255, 255, .0901960784);
     color: #000;
}
input#user-input:focus-visible::placeholder {
    color: #000;
 
}
#send-btn {
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    position: absolute;
    right: 40px;
    justify-content: center;
    align-items: center;
}
.message.user-msg {
    font-size: 1rem;
    justify-content: flex-end;
    display: flex;
    color: #fff;
    background: #131313;
    padding: 8px 24px 8px 8px;
    border-radius: 16px 16px 4px 16px;
    margin-bottom: 16px;
    /* flex-grow: 1; */
    align-self: self-end;
    /* Add animation property */
    animation: slideOut 0.1s forwards;
    /* 0.5s duration, stays at end state */

}

/* Define the animation */
@keyframes slideOut {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Final position, on screen */
    }
}

div#chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message.bot-msg {
    font-size: 1rem;
    justify-content: flex-start;
    display: flex;
    color: #fff;
    background: #ffffff17;
    padding: 8px 24px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 16px;
    align-self: self-start;
    /* Add animation property */
    animation: slideIn 0.1s forwards;
    /* 0.5s duration, stays at end state */

}
.chat-bottom {
    position: absolute;
    bottom: 10px;
left: 0;
right: 0;
position: relative;
    background: #00000017;   padding: 32px; border-radius: 8px;
}
.input-area {
 background: #fff;
   
  width: 100%;
    display: flex;
    border-radius: 8px;
    align-items: center;
 
}
.col-4 {
    display: flex;
}
.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    /* background: #efefef; */
}
/* Define the animation */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Final position, on screen */
    }
}